@import "./../../variables.scss";

.AllPosts {
	div {
		padding: 2rem $side-padding;
		display: flex;
		flex-wrap: wrap;

		article {
			background: $light-grey;
			flex-basis: 600px;
			flex-grow: 1;
			flex-shrink: 1;
			max-height: min-content;
			display: flex;
			margin-right: 10px;
			margin-bottom: 2rem;
			border-radius: 9px;

			div,
			section {
				max-height: 9rem;
			}

			section {
				flex: 1;
				padding: 15px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				h3 {
					font-weight: 400;
				}

				p:last-child {
					font-style: italic;
					letter-spacing: 7px;
					font-size: 0.8rem;
				}
			}

			div {
				max-width: 9rem;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					max-height: 100%;
				}
			}
		}
	}
}
