@import "../../variables.scss";
.Header {
	position: relative;
	background: /*url("https://source.unsplash.com/collection/3798584/")*/
		url("./macbook-code-landscape-bg.jpg") no-repeat center;
	background-size: cover;
	height: 100vh;

	div {
		position: absolute;
		padding: 1.2rem $side-padding;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		background: rgb(25, 48, 66);
		background: radial-gradient(circle, rgb(25, 48, 66) 0%, #333 50%);
		color: #fff;
		display: flex;
		flex-direction: column;

		section {
			flex-grow: 1;
			display: flex;
			align-items: center;
			font-size: 1.15rem;

			div:first-child {
				width: 308px;
				position: relative;
				display: flex;
				justify-content: center;
				padding: 0;

				h3 {
					margin: 1rem 0;
					font-size: 2rem;

					span {
						color: $yellow;
					}
				}

				div {
					max-height: 50px;
					width: 1rem;
					position: relative;
					margin-top: 5rem;
				}
			}

			div:last-child {
				flex: 1;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				padding: 0;

				img {
					max-width: 100%;
				}
			}
		}
	}
}

.updown {
	animation: MoveUpDown 2s linear infinite;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 3rem;
}

@keyframes MoveUpDown {
	0% {
		bottom: 100%;
	}
	100% {
		bottom: 0%;
	}
}
